
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNewStudent</title>
</head>
<body>
    <div> 
        <form action="/Main/SaveStudent" method="GET">
            Id : <input type="text" id="IDid" name="id" /> <br />
            Nume : <input type="text" id="IDnume" name="nume" /> <br />
            Password : <input type="text" id="IDpassword" name="password" /> <br />
            Group_id : <input type="text" id="IDgroup_id" name="group_id" /> <br />
            <input type="submit" value="Add student" />
        </form>
    </div>
</body>
</html>
